*/verif/obj_dir
*/waveform.vcd
*/xsim.dir
*/work.test_top.wdb
*/*.log
*/*.jou
*/*.pb
*/synthesized_netlist.v
*/*.wdb
UART/uvm/sim/xsim.dir
UART/uvm/sim/cov_report/codeCoverageReport
UART/uvm/sim/dump.vcd
UART/uvm/sim/tbench_top_sim.wdb
UART/uvm/sim/tr_db.log
UART/uvm/sim/xelab.log
UART/uvm/sim/xelab.pb
UART/uvm/sim/xsim.jou
UART/uvm/sim/xsim.log
UART/uvm/sim/xvlog.log
UART/uvm/sim/xvlog.pb
